@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-background: #fafafa;
  --text-primary: #333;
  --accent-color: #5a67d8;
  --accent-active-color: #4c51bf;
  --shade-color: #f1f1f5;
  --shade-active-color: #e2e2e8;
  --secondary-color: #a0aec0;
  --secondary-active-color: #718096;
}

html.dark {
  --base-background: #1c1c1e;
  --text-primary: #e5e5e5;
  --accent-color: #7f9cf5;
  --accent-active-color: #a3bffa;
  --shade-color: #2c2c2e;
  --shade-active-color: #3a3a3c;
  --secondary-color: #596e79;
  --secondary-active-color: #748b95;
}

html.system {
  @media (prefers-color-scheme: dark) {
    --base-background: #1c1c1e;
    --text-primary: #e5e5e5;
    --accent-color: #7f9cf5;
    --accent-active-color: #a3bffa;
    --shade-color: #2c2c2e;
    --shade-active-color: #3a3a3c;
    --secondary-color: #596e79;
    --secondary-active-color: #748b95;
  }
}

body {
  @apply bg-[--base-background] text-[--text-primary] transition-colors origin-bottom-right;
}

b {
  @apply text-[--accent-color];
}

@layer utilities {
  .container {
    @apply max-w-screen-lg mx-auto;
  }
}

@layer components {
  .ThemeSwitcher button {
    @apply flex items-center p-1.5 rounded-full transition-colors 
    hover:bg-[--shade-active-color] hover:text-[--secondary-active-color];

    &.active {
      @apply bg-[--shade-active-color] text-[--accent-active-color];
    }
  }

  @keyframes reveal-text {
    to {
      transform: scaleX(0);
    }
  }

  @keyframes move-cursor {
    to {
      transform: translateX(calc(16.25rem + 2px));
    }
  }

  @keyframes blink-cursor {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .type-effect {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    &::after {
      width: 100%;
      transform-origin: right;
      background-color: var(--base-background);
      animation: reveal-text 2s steps(18) forwards;
    }
    &::before {
      z-index: 10;
      width: 3.5px;
      background-color: var(--accent-active-color);
      animation: move-cursor 2s steps(18) forwards, blink-cursor 0.95s linear infinite 2.25s;
    }
  }
}
